<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cuenta</title>
	<link rel="stylesheet" href="../../css/materialize.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<nav class="teal darken-1">
		<div class="nav-wrapper container">
			<a href="#" class="brand-logo">La Tribu</a>
			<a href="#" data-target="menu-responsive" class="sidenav-trigger">
				<i class="material-icons">menu</i>
			</a>

			<ul class="right hide-on-med-and-down">
				<li>
					<a href="badges.html"></a>
				</li>
				<!-- Dropdown Trigger -->
				<li><a class="dropdown-trigger" href="#!" data-target="list-curses">Mis cursos<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-trigger" href="#!" data-target="list-notification"><i class="material-icons right">notifications</i><span class="white-text badge new">3</span></a></li>
				<li><a class="dropdown-trigger" href="#!" data-target="list-count">Joaquin<i class="material-icons right">account_circle</i></a></li>

			</ul>
		</div>
	</nav>

	

	<!-- cursos -->

	<ul id="list-curses" class="dropdown-content">
		<li class="entrada">
			<a href="#">
				<div class="entrada-imagen yellow"></div>
				<div class="entrada-body black-text">
					<p class="titulo">Nombre cursos</p>
					<p class="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem suscipit harum error omnis saepe, ducimus dolor totam alias veniam accusamus quisquam vitae voluptatibus nobis ex quaerat temporibus quod sint excepturi?</p>
				</div>
				<div style="padding: 0 10px;">
					<div class="progress">
						<div class="determinate" style="width: 70%"></div>
					</div>
				</div>
			</a>
		</li>
		<li class="divider"></li>
	</ul>

	<!-- notificaciones -->

	<ul id="list-notification" class="dropdown-content">

		<li>
			<p style="padding: 0 20px;">Notificaciones</p>
		</li>

		<li class="divider"></li>
		<li class="entrada">
			<a href="#">
				<div class="entrada-imagen yellow"></div>
				<div class="entrada-body black-text">
					<p class="titulo">Nombre cursos</p>
					<p class="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem suscipit harum error omnis saepe, ducimus dolor totam alias veniam accusamus quisquam vitae voluptatibus nobis ex quaerat temporibus quod sint excepturi?</p>
					<div style="padding-top: 10px">
						<p class="left-align grey-text darken-1">hace 5 horas</p>
					</div>
				</div>
			</a>
			<div class="clear"><i class="material-icons grey-text darken-1">clear</i></div>
		</li>

	</ul>

	<style>
		.entrada {
			padding: 0;
			position: relative;
		}
		
		.clear {
			position: absolute;
			bottom: 0px;
			right: 5px;
		}
		
		.clear i.material-icons {
			padding: 0;
			margin: 0;
			line-height: 30px;
			height: 30px;
		}
		
		.titulo {
			font-weight: 500;
			padding-bottom: 5px;
		}
		
		.entrada>a {
			padding: 0 !important;
		}
		
		.entrada>a:hover {
			background: none;
		}
		
		.entrada p {
			line-height: 20px;
			margin: 0 !important;
		}
		
		.entrada .entrada-body {
			padding: 10px;
			width: 400px;
		}
		
		.entrada .entrada-body .contenido {
			height: 40px;
			overflow: hidden;
		}
	</style>

	<!-- cuenta -->

	<ul id="list-count" class="dropdown-content">
		<li class="divider"></li>
		<li><a href="#">Cuenta</a></li>
		<li class="divider"></li>
		<li><a href="#">Cerrar sesión</a></li>
	</ul>

	<ul class="sidenav" id="menu-responsive">
		<div class="user-view" style="height: 200px;">
			<div class="background">
				<img src="../../img/logo.jpg" class="responsive-img">
			</div>
		</div>
		<ul class="collapsible">
			<li>
				<div class="collapsible-header"><i class="material-icons">account_circle</i>Joaquin</div>
				<div class="collapsible-body">
					<ul>
						<li><a href="#">Cuenta</a></li>
						<li><a href="#">Cerrar sesión</a></li>
					</ul>
				</div>
			</li>
		</ul>
		<li><a href="#">Notificaciones<span class="white-text badge new">3</span></a></li>
		<li><a href="#">Mis cursos</a></li>
	</ul>
<!-- home -->
    <div class="container" style="min-height: calc(100vh - 276.49px);padding: 20px 0;">
        <div class="section">
            <h5>Datos personales</h5>
            <div class="divider"></div>
            <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12 l6">
                      <input id="first_name" type="text" class="validate">
                      <label for="first_name">Nombre</label>
                    </div>
                    <div class="input-field col s12 l6">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name">Apellido</label>
                    </div>
                  </div>
    
                  <div class="row">
                    
                    <div class="input-field col s12 l6">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                      </div>
                      <div class="input-field col s12 l6">
                        <input id="phone" type="text" class="validate" pattern="\d+" data-length="11">
                        <label for="email">Telefono</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Formato de telefono: 0000 000000</span>
                      </div>
                  </div>
                
                  <div class="row">
                    <div class="col s12" style="text-align: center;">
                        <button onclick="M.toast({html: 'I am a toast'})" class="btn waves-effect waves-light center" type="submit" name="action">
                            Guardar cambios
                        </button>
                    </div>
                  </div>
                </form>
              </div>    
        </div>
        <h5>Cambiar contraseña</h5>
        <div class="divider"></div>
        <div class="row">
          <form>
            <div class="input-field col s12 l6">
                <input id="password" type="password" class="validate">
                <label for="password">Contraseña actual</label>
              </div>
            <div class="input-field col s12 l6">
                <input id="confirmpassword" type="password" class="validate">
                <label for="password">Nueva contraseña</label>
            </div>
            <div class="input-field col s12 l6">
                <input id="confirmpassword" type="password" class="validate">
                <label for="password">Confirme nueva contraseña</label>
            </div>
            <div class="row">
                <div class="col s12" style="text-align: center;">
                    <button onclick="M.toast({html: 'I am a toast'})" class="btn waves-effect waves-light center" type="submit" name="action">
                        Guardar contraseña
                    </button>
                </div>
              </div>
          </form> 
        </div>
    </div>

    <footer class="page-footer  teal lighten-1">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<!-- <h5 class="white-text">Contacto</h5>
              <p class="grey-text text-lighten-4">Comunicate al 2284-426584</p>  -->
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Tambien encontranos en</h5>
				<ul class="row">
					<div class="col s2">
						<li><img src="../../img/facebook-brands.svg" width="40px" height="40px"></li>
					</div>
					<div class="col s10">
						<li>
							<a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/La-tribu-331906744299316/">La Tribu</a>
						</li>
						<li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/natatoriolatribu">Natatorio La Tribu</a></li>
					</div>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright teal darken-1">
		<div class="container">
			© 2020 Gimnasio La Tribu
			<a class="grey-text text-lighten-4 right" target="_blank" href="https://goo.gl/maps/vDNF7g2wFNcdBht26">Belgrano 3283, Olavarria 7400</a>
		</div>
	</div>
</footer>



<style>
	.titulo {
		font-weight: 500;
		line-height: 20px;
	}
	
	.contenido {
		height: 40px;
		overflow: hidden;
	}
	
	.of-cover {
		object-fit: cover;
	}
</style>

<script src="../../js/materialize.min.js"></script>
<script>
	//   M.AutoInit();
	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.carousel');
		var instances = M.Carousel.init(elems);
	});

	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.sidenav');
		var instances = M.Sidenav.init(elems);
	});

	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.collapsible');
		var instances = M.Collapsible.init(elems);
	});

	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.dropdown-trigger');
		var instances = M.Dropdown.init(elems, {
			constrainWidth: false,
			coverTrigger: false
		});
	});


///////////////////////////// NUEVOS ///////////////////////////
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems,{poition: top});
  });

  document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('input#phone');
		var instances = M.CharacterCounter.init(elems);
	});

</script>
</body>

</html>