<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gestion de usuarios</title>
	<link rel="stylesheet" href="../../css/materialize.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<nav class="teal darken-1">
		<div class="nav-wrapper container">
			<a href="#" class="brand-logo">La Tribu</a>
			<a href="#" data-target="menu-responsive" class="sidenav-trigger">
				<i class="material-icons">menu</i>
			</a>

			<ul class="right hide-on-med-and-down">
				<li>
					<a href="badges.html"></a>
				</li>
				<!-- Dropdown Trigger -->
				<li><a class="dropdown-trigger" href="#!" data-target="list-curses">Mis cursos<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-trigger" href="#!" data-target="list-notification"><i class="material-icons right">notifications</i><span class="white-text badge new">3</span></a></li>
				<li><a class="dropdown-trigger" href="#!" data-target="list-count">Joaquin<i class="material-icons right">account_circle</i></a></li>

			</ul>
		</div>
	</nav>

	<!-- cursos -->

	<ul id="list-curses" class="dropdown-content">
		<li class="entrada">
			<a href="#">
				<div class="entrada-imagen yellow"></div>
				<div class="entrada-body black-text">
					<p class="titulo">Nombre cursos</p>
					<p class="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem suscipit harum error omnis saepe, ducimus dolor totam alias veniam accusamus quisquam vitae voluptatibus nobis ex quaerat temporibus quod sint excepturi?</p>
				</div>
				<div style="padding: 0 10px;">
					<div class="progress">
						<div class="determinate" style="width: 70%"></div>
					</div>
				</div>
			</a>
		</li>
		<li class="divider"></li>
	</ul>

	<!-- notificaciones -->

	<ul id="list-notification" class="dropdown-content">

		<li>
			<p style="padding: 0 20px;">Notificaciones</p>
		</li>

		<li class="divider"></li>
		<li class="entrada">
			<a href="#">
				<div class="entrada-imagen yellow"></div>
				<div class="entrada-body black-text">
					<p class="titulo">Nombre cursos</p>
					<p class="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem suscipit harum error omnis saepe, ducimus dolor totam alias veniam accusamus quisquam vitae voluptatibus nobis ex quaerat temporibus quod sint excepturi?</p>
					<div style="padding-top: 10px">
						<p class="left-align grey-text darken-1">hace 5 horas</p>
					</div>
				</div>
			</a>
			<div class="clear"><i class="material-icons grey-text darken-1">clear</i></div>
		</li>

	</ul>

	<style>
		.entrada {
			padding: 0;
			position: relative;
		}
		
		.clear {
			position: absolute;
			bottom: 0px;
			right: 5px;
		}
		
		.clear i.material-icons {
			padding: 0;
			margin: 0;
			line-height: 30px;
			height: 30px;
		}
		
		.titulo {
			font-weight: 500;
			padding-bottom: 5px;
		}
		
		.entrada>a {
			padding: 0 !important;
		}
		
		.entrada>a:hover {
			background: none;
		}
		
		.entrada p {
			line-height: 20px;
			margin: 0 !important;
		}
		
		.entrada .entrada-body {
			padding: 10px;
			width: 400px;
		}
		
		.entrada .entrada-body .contenido {
			height: 40px;
			overflow: hidden;
		}
	</style>

	<!-- cuenta -->

	<ul id="list-count" class="dropdown-content">
		<li class="divider"></li>
		<li><a href="#">Cuenta</a></li>
		<li class="divider"></li>
		<li><a href="#">Cerrar sesión</a></li>
	</ul>

	<ul class="sidenav" id="menu-responsive">
		<div class="user-view" style="height: 200px;">
			<div class="background">
				<img src="../../img/logo.jpg" class="responsive-img">
			</div>
		</div>
		<ul class="collapsible">
			<li>
				<div class="collapsible-header"><i class="material-icons">account_circle</i>Joaquin</div>
				<div class="collapsible-body">
					<ul>
						<li><a href="#">Cuenta</a></li>
						<li><a href="#">Cerrar sesión</a></li>
					</ul>
				</div>
			</li>
		</ul>
		<li><a href="#">Notificaciones<span class="white-text badge new">3</span></a></li>
		<li><a href="#">Mis cursos</a></li>
	</ul>

    <div class="container" style="min-height: calc(100vh - 276.49px);padding: 20px 0;">
        <section>
            <div class="row" style="padding: 0 !important;">
				<div class="col s12 l7 tabla">
					<h5>Listado de usuarios</h5>
					<div class="divider"></div>
					<div class="cotenedor-fila">
						
						<div class="row fila ">
							<div class="col s1 l1"><p class="truncate">P</p></div>
							<div class="col s2 l2 "><p class="truncate">40092235</p></div>
							<div class="col s5 l7 "><p class="truncate">Joaquin Gonzalez</p></div>
							<div class="col s2 l1 iconos" ><a href="#"><i class="material-icons teal-text text-lighten-1">edit</i></a></div>
							<div class="col s2 l1 iconos" ><a class="modal-trigger" href="#modal1"><i class="material-icons teal-text text-lighten-1">delete</i></a></div>
						</div>
						<div class="row fila ">
							<div class="col s1 l1"><p class="truncate">P</p></div>
							<div class="col s2 l2 "><p class="truncate">40092235</p></div>
							<div class="col s5 l7 "><p class="truncate">Joaquin Gonzalez</p></div>
							<div class="col s2 l1 iconos" ><a href="#"><i class="material-icons teal-text text-lighten-1">edit</i></a></div>
							<div class="col s2 l1 iconos" ><a class="modal-trigger" href="#modal1"><i class="material-icons teal-text text-lighten-1">delete</i></a></div>
						</div>
						<div class="row fila ">
							<div class="col s1 l1"><p class="truncate">P</p></div>
							<div class="col s2 l2 "><p class="truncate">40092235</p></div>
							<div class="col s5 l7 "><p class="truncate">Joaquin Gonzalez</p></div>
							<div class="col s2 l1 iconos" ><a href="#"><i class="material-icons teal-text text-lighten-1">edit</i></a></div>
							<div class="col s2 l1 iconos" ><a class="modal-trigger" href="#modal1"><i class="material-icons teal-text text-lighten-1">delete</i></a></div>
						</div>
						<div class="row fila ">
							<div class="col s1 l1"><p class="truncate">A</p></div>
							<div class="col s2 l2 "><p class="truncate">40092235</p></div>
							<div class="col s5 l7 "><p class="truncate">Joaquin Gonzalez</p></div>
							<div class="col s2 l1 iconos" ><a href="#"><i class="material-icons teal-text text-lighten-1">edit</i></a></div>
							<div class="col s2 l1 iconos" ><a class="modal-trigger" href="#modal1"><i class="material-icons teal-text text-lighten-1">delete</i></a></div>
						</div>
						<div class="row fila ">
							<div class="col s1 l1"><p class="truncate">A</p></div>
							<div class="col s2 l2 "><p class="truncate">40092235</p></div>
							<div class="col s5 l7 "><p class="truncate">Joaquin Gonzalez</p></div>
							<div class="col s2 l1 iconos" ><a href="#"><i class="material-icons teal-text text-lighten-1">edit</i></a></div>
							<div class="col s2 l1 iconos" ><a class="modal-trigger" href="#modal1"><i class="material-icons teal-text text-lighten-1">delete</i></a></div>
						</div>
						<div class="row fila ">
							<div class="col s1 l1"><p class="truncate">P</p></div>
							<div class="col s2 l2 "><p class="truncate">40092235</p></div>
							<div class="col s5 l7 "><p class="truncate">Joaquin Gonzalez</p></div>
							<div class="col s2 l1 iconos" ><a href="#"><i class="material-icons teal-text text-lighten-1">edit</i></a></div>
							<div class="col s2 l1 iconos" ><a class="modal-trigger" href="#modal1"><i class="material-icons teal-text text-lighten-1">delete</i></a></div>
						</div>
						<div class="row fila ">
							<div class="col s1 l1"><p class="truncate">P</p></div>
							<div class="col s2 l2 "><p class="truncate">40092235</p></div>
							<div class="col s5 l7 "><p class="truncate">Joaquin Gonzalez</p></div>
							<div class="col s2 l1 iconos" ><a href="#"><i class="material-icons teal-text text-lighten-1">edit</i></a></div>
							<div class="col s2 l1 iconos" ><a class="modal-trigger" href="#modal1"><i class="material-icons teal-text text-lighten-1">delete</i></a></div>
						</div>
						<div class="row fila ">
							<div class="col s1 l1"><p class="truncate">A</p></div>
							<div class="col s2 l2 "><p class="truncate">40092235</p></div>
							<div class="col s5 l7 "><p class="truncate">Joaquin Gonzalez</p></div>
							<div class="col s2 l1 iconos" ><a href="#"><i class="material-icons teal-text text-lighten-1">edit</i></a></div>
							<div class="col s2 l1 iconos" ><a class="modal-trigger" href="#modal1"><i class="material-icons teal-text text-lighten-1">delete</i></a></div>
						</div>
						<div class="row fila ">
							<div class="col s1 l1"><p class="truncate">P</p></div>
							<div class="col s2 l2 "><p class="truncate">40092235</p></div>
							<div class="col s5 l7 "><p class="truncate">Joaquin Gonzalez</p></div>
							<div class="col s2 l1 iconos" ><a href="#"><i class="material-icons teal-text text-lighten-1">edit</i></a></div>
							<div class="col s2 l1 iconos" ><a class="modal-trigger" href="#modal1"><i class="material-icons teal-text text-lighten-1">delete</i></a></div>
						</div>
						<div class="row fila ">
							<div class="col s1 l1"><p class="truncate">A</p></div>
							<div class="col s2 l2 "><p class="truncate">40092235</p></div>
							<div class="col s5 l7 "><p class="truncate">Joaquin Gonzalez</p></div>
							<div class="col s2 l1 iconos" ><a href="#"><i class="material-icons teal-text text-lighten-1">edit</i></a></div>
							<div class="col s2 l1 iconos" ><a class="modal-trigger" href="#modal1"><i class="material-icons teal-text text-lighten-1">delete</i></a></div>
						</div>
						<div class="row fila ">
							<div class="col s1 l1"><p class="truncate">A</p></div>
							<div class="col s2 l2 "><p class="truncate">40092235</p></div>
							<div class="col s5 l7 "><p class="truncate">Joaquin Gonzalez</p></div>
							<div class="col s2 l1 iconos" ><a href="#"><i class="material-icons teal-text text-lighten-1">edit</i></a></div>
							<div class="col s2 l1 iconos" ><a class="modal-trigger" href="#modal1"><i class="material-icons teal-text text-lighten-1">delete</i></a></div>
						</div>

						
					</div>

					<!-- Modal Structure -->
					<div id="modal1" class="modal">
					  <div class="modal-content">
						<h4>¿Realmente desear eliminar a usuario?</h4>
						<p>Si elimina a usuario, perderá toda su información, como su progresos en los cursos</p>
					  </div>
					  <div class="modal-footer">
						<a href="#!" class="modal-close waves-effect waves-green btn-flat">Borrar</a>
					  </div>
					</div>


				</div>

				<style>
					.tabla{
						margin-bottom: 40px;
					}

					.row.fila{
						padding: 0 10px !important;
						margin: 5px 0 !important;
					}

					.fila:nth-child(odd){
						background: #fafafa;
					}

					.fila > .col{
						padding: 0 !important;
						margin-bottom: 0 !important;
						height: 50px !important;
					}
					.fila > .col p{
						line-height: 40px !important;
						padding: 0 !important;
						margin: 0 !important;
						overflow: hidden;
					}

					.fila > .col.iconos{
						display: flex;
						justify-content: center;
						align-items: center;
					}

					p.truncate{
						display: block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				</style>

				<div class="col s12 l5">
					<h5>Crear usuario</h5>
					<div class="divider"></div>
					<form>
						<div class="row">
							<div class="col s12 l12" style="margin-top: 20px;">
								<div class="switch">
									<label>
									  Alumno
									  <input type="checkbox">
									  <span class="lever"></span>
									  Profesor
									</label>
								  </div>
							</div>
							<div class="input-field col s12 l12" style="margin-top: 30px;">
								<input id="userdoc" type="text" class="validate">
								<label for="userdoc">Documento</label>
							</div>
							<div class="input-field col s12 l12">
								<input id="username" type="text" class="validate">
								<label for="username">Nombre</label>
							</div>
							<div class="input-field col s12 l12">
								<input id="userlast_name" type="text" class="validate">
								<label for="userlast_name">Apellido</label>
							</div>
							<div class="col s12 l12">
								<div class="switch">
									<label>
									  Hombre
									  <input type="checkbox">
									  <span class="lever"></span>
									  Mujer
									</label>
								  </div>
							</div> 
							<div class="input-field col s12" style="margin-top: 30px;">
								<input id="email" type="email" class="validate">
								<label for="email">Email</label>
							  </div>
							
							<div class="col s12 l12" style="text-align: center;margin-top: 40px">
								<button class="btn waves-effect waves-light" type="submit" name="action">Crear</button>
							</div>
							  
						</div>
					</form> 
				</div>
			</div>           
        </section>
   
	</div>
	<footer class="page-footer  teal lighten-1">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Tambien encontranos en</h5>
					<ul class="row">
						<div class="col s2">
							<li><img src="../..//img/facebook-brands.svg" width="40px" height="40px"></li>
						</div>
						<div class="col s10">
							<li>
								<a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/La-tribu-331906744299316/">La Tribu</a>
							</li>
							<li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/natatoriolatribu">Natatorio La Tribu</a></li>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright teal darken-1">
			<div class="container">
				© 2020 Gimnasio La Tribu
				<a class="grey-text text-lighten-4 right" target="_blank" href="https://goo.gl/maps/vDNF7g2wFNcdBht26">Belgrano 3283, Olavarria 7400</a>
			</div>
		</div>
	</footer>







	<script src="../../js/materialize.min.js"></script>
	<script>
		//   M.AutoInit();
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.sidenav');
			var instances = M.Sidenav.init(elems);
		});

		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.collapsible');
			var instances = M.Collapsible.init(elems);
		});

		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.dropdown-trigger');
			var instances = M.Dropdown.init(elems, {
				constrainWidth: false,
				coverTrigger: false
			});
		});

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });

		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.modal');
			var instances = M.Modal.init(elems);
		});
	</script>
</body>

</html>